<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>933342816323-mkp4khjqq0e5e2d4pk1frjiui6hpnddq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933342816323-mkp4khjqq0e5e2d4pk1frjiui6hpnddq</string>
	<key>API_KEY</key>
	<string>AIzaSyDo_rs-O8OmJ1QsZ3-gWNsawUXnFo0Jy44</string>
	<key>GCM_SENDER_ID</key>
	<string>933342816323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>us.frarredo.The-Social-Network</string>
	<key>PROJECT_ID</key>
	<string>the-social-network-d18db</string>
	<key>STORAGE_BUCKET</key>
	<string>the-social-network-d18db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:933342816323:ios:aad67349ee4db09e</string>
	<key>DATABASE_URL</key>
	<string>https://the-social-network-d18db.firebaseio.com</string>
</dict>
</plist>